<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Test</display-name>

    <servlet>
        <servlet-name>UserRestController</servlet-name>
        <servlet-class>web.UserRestServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRestController</servlet-name>
        <url-pattern>/user/login</url-pattern>
        <url-pattern>/user/register</url-pattern>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>

</web-app>